@font-face {
  font-family: "TTLakes-Bold";
  src: url("fonts/TTLakes-Bold.woff") format("woff");
}

@font-face {
  font-family: "TTLakes-regular";
  src: url("fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
  font-family: "TTLakes-Medium";
  src: url("fonts/TTLakes-Medium.woff") format("woff");
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  min-width: 320px;
}

.brand-block {
  padding-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
}

.brand-block:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  z-index: 1000;
}

.brand-block__title-text {
  font-family: "TTLakes-regular";
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #7e7e82;
}

.wrapper_swiper__block {
  min-width: 320px;
}

.image-slider__slide {
  background-color: white;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
}

.brand-block__title-wrapper {
  text-transform: uppercase;
  padding: 15px 16px;
  background: linear-gradient(270deg, #fff 0%, #f8f8f8 100%);
  width: auto;
}

.swiper-slide-brand {
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 72px;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  margin-top: 16px;
}

.swiper-pagination {
  position: relative;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  background-color: #b5b6bc;
  width: 12px;
  height: 12px;
}

.swiper-container {
  overflow: hidden;
  margin-left: 16px;
}

.toggle-button {
  margin-left: 32px;
}

.toggle-button.up::before {
  content: url(images/icon2.svg);
  margin-right: 16px;
}

.toggle-button.down::before {
  content: url(images/icon.svg);
  margin-right: 16px;
}

@media (max-width: 767px) {
  .brand-block__show-more {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .toggle-button {
    margin-left: 1px;
  }

  .brand-block__show-more {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    padding-left: 16px;
  }

  @media (min-width: 768px) {
    .brand-block__show-more {
      padding-left: 24px;
    }
  }

  @media (min-width: 1120px) {
    .brand-block__show-more {
      padding-left: 32px;
    }
  }
}

@media (min-width: 768px) {
  .image-slider__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 16px;
    margin: 24px;
  }

  .swiper-slide-brand {
    padding: 16px;
    margin: 0;
    width: 100%;
  }

  .swiper-container {
    overflow: visible;
    padding-right: 24px;
    margin-right: 24px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .swiper-slide-brand:nth-last-child(-n + 5) {
    display: none;
  }
}

@media (min-width: 768px) {
  .brand-block__title-wrapper {
    padding-left: 24px;
  }

  .brand-block {
    padding-bottom: 34px;
  }
}

.brand-block__show-more-button {
  display: flex;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  font-family: "TTLakes-Medium";
  color: #1b1c21;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
}

.show-more__icon::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 28px;
  background-image: url("./img/expand.svg");
  margin-left: 24px;
  margin-right: 16px;
  margin-right: 16px;
  background-size: cover;
  transform: var(--transform-rotate);
}

@media (min-width: 1120px) {
  .image-slider__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-end: none;
    column-gap: 32px;
    row-gap: 16px;
    margin: 32px;
  }

  .swiper-slide-brand:nth-last-child(-n + 3) {
    display: none;
  }

  .swiper-slide-brand {
    padding: 16px;
    margin: 0;
    width: 100%;
  }

  .swiper-container {
    overflow: visible;
    padding-right: 32px;
    margin-right: 32px;
  }
}

@media (min-width: 1120px) {
  .brand-block__title-wrapper {
    padding-left: 32px;
  }

  .brand-block {
    padding-bottom: 34px;
  }
}

.top-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d9fff5;
  z-index: 1000;
}
